* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.6;
  color: #000;
  background: #fff;
}