---
import "../styles/global.css";
import "normalize.css";
import "7.css/dist/7.scoped.css";
import Window from "../components/Window.astro";
import { Image } from "astro:assets";
import desktopImage from "../assets/desktop.png";
import natalieImage from "../assets/natalie.jpg";
import Blog from "../components/blog.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Preload critical resources -->
    <link rel="preload" href="/desktop.png" as="image" type="image/png" />
    <link rel="preload" href="/natalie.jpg" as="image" type="image/jpeg" />

    <!-- Preload fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Share+Tech+Mono&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Share+Tech+Mono&display=swap"
      />
    </noscript>

    <!-- Preload Font Awesome -->
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
    </noscript>

    <!-- Preload CSS Doodle script -->
    <link
      rel="preload"
      href="https://esm.sh/css-doodle/css-doodle.min.js?raw"
      as="script"
    />
  </head>

  <body>
    <div class="flex flex-row w-screen h-screen overflow-clip">
      <div
        class="flex flex-col p-5 gap-5 w-64 items-start h-screen drop-shadow-xl bg-white border border-r-2"
      >
        <p>
          Natalie is a professional geekbot ignorer and taco miner working in
          Newfoundland ...and web developer too I guess
        </p>
        <p>
          I am currently trying to figure out how to <a
            href="https://www.spellbook.legal/">spell book</a
          > having a hard time but I'm pretty sure chatgpt may help :(
        </p>
        <p>
          previously a professional satellite at <a href="https://www.c-core.ca"
            >c-core</a
          > summer 2024 through to the winter months <br />(it got cold up
          there)
        </p>
        <div>
          <h3 class="pb-1">Projects:</h3>
          <div class="flex flex-col gap-1">
            <a href="https://notmg.com" class="pl-1"> notmg </a>
            <a href="https://notmg.com" class="pl-1">
              vulkan shenanigans 💅 <br />(I want to return to)</a
            >
          </div>
        </div>
        <div>
          <div class="flex flex-col gap-1">
            <h3 class="pb-1">
              Nat Posting
              <span class="pb-1 text-gray-500 text-sm"> (to do) </span>:
            </h3>
            <a href="https://notmg.com" class="pl-1"> Climb Time </a>
            <a href="https://notmg.com" class="pl-1"> Odin vs. C++ </a>
          </div>
        </div>
        <div>
          <h3 class="pb-1">Socials:</h3>
          <div class="flex flex-col gap-1 pl-1">
            <div class="w-max flex h-max gap-1 items-center">
              <i class="fa-solid fa-envelope w-3.5"></i>
              <a href="mailto:nataliec2k5@gmail.com"> nataliec2k5@gmail.com </a>
            </div>
            <div class="w-max flex h-max gap-1 items-center">
              <i class="fab fa-github w-3.5"></i>
              <a href="https://github.com/ncashin/"> github </a>
            </div>
          </div>
        </div>

        <div class="flex-grow"></div>
        <div>
          <p>Made with ℒ♡ⓥℯ</p>
          <p>
            by <span class="font-['Mr_Dafoe'] text-xl px-1">Natalie</span> 💖
          </p>
        </div>
      </div>

      <div
        class="relative flex flex-row justify-around gap-8 p-8 w-full h-full"
      >
        <Image
          src={desktopImage}
          alt="Desktop background"
          class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        <Window title="blague" className="">
          <Blog
            title="Blog Posting Soon"
            date={new Date()}
            author="Natalie"
            description="This is a description"
            tags={["blog", "posting", "soon"]}
          />
        </Window>

        <Window title="natalie.jpg">
          <Image src={natalieImage} alt="Natalie" width={288} height={288} />
        </Window>
        <Window title="guestbook">
          <iframe src="https://ncashin.atabook.org/" class="h-[48rem]"></iframe>
        </Window>
      </div>
    </div>

    <!-- Load CSS Doodle script after page content -->
    <script src="https://esm.sh/css-doodle/css-doodle.min.js?raw"></script>
  </body>
</html>
