---
import "/Users/natalie/repos/ncashin.dev/src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <div class="p-10">
      <p class="text-3xl pb-1">Hi! I'm Natalie</p>
      <div class="pl-1 pb-4">
        <p>
          Junior Software Developer @
          <a href="https://c-core.ca/">C-CORE</a>
        </p>
        <p>
          2nd Year Student and CS Major @ <a href="https://mun.ca/">MUN</a>
        </p>
        <p>
          Event Coordinator for the <a href="https://muncompsci.ca/"
            >MUN CS Society</a
          > by gross technicality
        </p>
      </div>
      <p class="text-2xl">What I'm Working On</p>
    </div>
  </body>
</html>
