---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Instrument+Serif:ital@0;1&family=Martel:wght@200;300;400;600;700;800;900&family=Mr+Dafoe&family=Vesper+Libre:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="p-10">
      <div class="flex-row flex gap-6 pb-1">
        <p class="text-2xl content-center">Hi I'm</p>
        <h3 class="text-5xl">Natalie</h3>
      </div>
      <div class="pl-2">
        <div class="list-item">
          <div class="flex-row flex flex-wrap">
            <p>Junior Software Developer&nbsp;</p>
            <p>
              @
              <a href="https://c-core.ca/">C-CORE</a>
            </p>
          </div>
        </div>
        <div class="list-item">
          <div class="flex-row flex flex-wrap">
            <p>2nd Year Student and CS Major&nbsp;</p>
            <p>
              @
              <a href="https://mun.ca/">MUN</a>
            </p>
          </div>
        </div>
        <div class="list-item">
          <div class="flex-row flex flex-wrap">
            <p>Event Coordinator for the&nbsp;</p>
            <p>
              <a href="https://muncompsci.ca/">MUN CS Society&nbsp;</a>by gross
              technicality
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
