<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <style>
      div {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }
      h5 {
        padding: 0rem;
        margin: 0rem;
      }
      p {
        padding: 0rem;
        margin: 0rem;
      }
    </style>
    <div>
      <h5>Natalie Cashin</h5>
      <p>
        Currently a Junior Software Developer @
        <a href="https://c-core.ca/">C-CORE</a>
      </p>
      <p>2nd Year Student and CS Major @ <a href="https://mun.ca/">MUN</a></p>
      <p>
        Event Coordinator for the <a href="https://muncompsci.ca/"
          >MUN CS Society</a
        > by gross technicality
      </p>
      <b>Projects</b>
    </div>
  </body>
</html>
