---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Share+Tech+Mono"
      rel="stylesheet"
    />

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta />
    <meta name="viewport" content="device-width, initial-scale=1" />
  </head>
  <body class="text-md">
    <div class="p-10">
      <div class="flex-row flex gap-6 pb-2 border-b-2 border-black">
        <h6 class="content-end text-xl mt-auto">Hi I'm</h6>
        <h1 class="text-5xl">Natalie</h1>
      </div>
      <div class="pl-4 pt-2 flex flex-col gap-1.5">
        <div class="list-item">
          <div class="flex-row flex flex-wrap gap-1">
            <p>Junior Fullstack Developer at</p>
            <a href="https://c-core.ca/">C-CORE</a>
          </div>
        </div>
        <div class="list-item">
          <div class="flex-row flex flex-wrap gap-1">
            <p>2nd Year CS Major studying at</p>
            <a href="https://mun.ca/">MUN</a>
          </div>
        </div>
        <div class="list-item">
          <div class="flex-row flex flex-wrap gap-1">
            <p>Event Coordinator for</p>
            <a href="https://muncompsci.ca/">MUN CSS</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
