---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Share+Tech+Mono&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&0;500;700;900"
      rel="stylesheet"
    />
    <meta name="viewport" content="device-width" />
  </head>
  <body>
    <div class="p-10 pb-0">
      <div class="flex-row flex gap-6 pb-2 border-b-2 border-black">
        <h5 class="content-end pb-0.5 text-xl">Hi I'm</h5>
        <h3 class="text-5xl">Natalie</h3>
      </div>
      <div class="pl-4 pt-2">
        <div class="list-item">
          <div class="flex-row flex flex-wrap">
            <p>Junior Fullstack Developer at&nbsp;</p>
            <div class="flex-row flex flex-none">
              <a href="https://c-core.ca/">C-CORE</a>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="flex-row flex flex-wrap">
            <p>2nd Year CS Major studying at&nbsp;</p>
            <div class="flex-row flex flex-none">
              <a href="https://mun.ca/" class="">MUN</a>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="flex-row flex flex-wrap">
            <p>Event Coordinator for&nbsp;</p>
            <a href="https://muncompsci.ca/">MUN CSS</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
