---
import HiImNat from "../components/HiImNat.astro";

import ListItem from "../components/ListItem.astro";
import WorkItem from "../components/WorkItem.astro";
import "../styles/global.css";
import "normalize.css";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Share+Tech+Mono"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <meta name="viewport" content="device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="w-screen h-screen sm:pl-[10%] sm:pr -[20%] px-[20%] py-20">
      <div class="flex flex-col w-52 sm:fixed justify-center pl-30 pb-5">
        <h1 class="text-4xl px-7 m-0 hover:drop-shadow-sm w-max">
          Natalie Cashin
        </h1>
        <div class="flex flex-col pl-9 gap-0.5">
          <div class="w-max">
            <i class="fa-solid fa-envelope w-3.5"></i>
            <a href="mailto:nataliec2k5@gmail.com"> nataliec2k5@gmail.com </a>
          </div>
          <div class="w-max">
            <i class="fab fa-github w-3.5"></i>
            <a href="https://github.com/ncashin/"> github </a>
          </div>
        </div>
      </div>

      <div class="min-w-full sm:pl-60">
        <div class="flex flex-col gap-4 pl-4 sm:border-l-black sm:border-l-2">
          <h2 class="drop-shadow-sm">Hi I'm Natalie</h2>
          <p>
            Over the summer and fall semester I was a junior fullstack software
            developer working on various geospatial shenanigans at
            <a href="https://c-core.ca/">c-core</a>
          </p>
          <p>
            Otherwise I've been a student at
            <a href="https://mun.ca/">MUN</a>
            and working on various low-level graphics or gamdev hobbyist projects
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
