---
import HiImNat from "../components/HiImNat.astro";

import ListItem from "../components/ListItem.astro";
import WorkItem from "../components/WorkItem.astro";
import "../styles/global.css";
import "normalize.css";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Share+Tech+Mono"
      rel="stylesheet"
    />

    <meta name="viewport" content="device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>
  <body class="text-md">
    <div class="p-10">
      <HiImNat />
      <div class="pl-4 pt-2 flex flex-col gap-1.5">
        <ListItem
          text="Junior Fullstack Developer at"
          link="https://c-core.ca"
          linktext="C-Core"
        />
        <ListItem
          text="2nd Year CS Major studying at"
          link="https://mun.ca"
          linktext="MUN"
        />
        <ListItem
          text="Event Coordinator for"
          link="https://muncompsci.ca/"
          linktext="MUN CSS"
        />
      </div>
      <p class="italic pt-6">What I'm Working On:</p>
      <div class="pt-2 flex gap-4 flex-wrap">
        <WorkItem
          imgsrc="/public/adventofcodeleaderboard.png"
          href="https://github.com/ncashin/aoc2024"
          caption="Advent Of Code"
        />
        <WorkItem
          imgsrc="/public/ncashin.mun.css.png"
          href="https://www.cs.mun.ca/~ncashin"
          caption="My MUN Site"
        />
      </div>
    </div>
  </body>
</html>
