---
const {} = Astro.props;
---

<div class="flex-row flex gap-6 pb-2 border-b-2 border-black">
  <h6 class="content-end text-xl p-0 m-0 mt-auto w-max">Hi I'm</h6>
  <h1 class="text-5xl p-0 m-0">Natalie</h1>
</div>
