---
const { text, link, linktext } = Astro.props;
---

<div class="list-item">
  <div class="flex-row flex flex-wrap">
    <p>
      {text}
      <a href={text}>{linktext}</a>
    </p>
  </div>
</div>
