---
---

<h2 id="reading" class="text-xl font-semibold mb-12 mt-4">Reading</h2>

    <div class="space-y-20">
      <div class="flex flex-col gap-4">
        <p class="text-sm font-medium">Currently</p>
        <p class="text-sm text-gray-600">
          <em>The Three-Body Problem</em> by Liu Cixin
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <p class="text-sm font-medium">Recently Finished</p>
        <p class="text-sm text-gray-600">
          <em>Designing Data-Intensive Applications</em> by Martin Kleppmann
        </p>
        <p class="text-sm text-gray-600">
          <em>Structure and Interpretation of Computer Programs</em> by Abelson
          & Sussman
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <p class="text-sm font-medium">Articles & Reading</p>
        <p class="text-sm text-gray-600">
          <a
            href="https://blog.scottstevenson.net/p/modular-products-suck"
            target="_blank"
            rel="noopener noreferrer"
            class="underline hover:text-black"
          >
            Modular Products Suck
          </a>
        </p>
        <p class="text-sm text-gray-600">
          <a
            href="https://www.stilldrinking.org/programming-sucks"
            target="_blank"
            rel="noopener noreferrer"
            class="underline hover:text-black"
          >
            Programming Sucks
          </a>
        </p>
      </div>
    </div>

