---
const { title, class: className, ...rest } = Astro.props;
---

<div class={"win7 w-min h-min " + className}>
  <div class={"window glass active w-min h-min"}>
    <div class="title-bar">
      <div class="title-bar-text">{title}</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <slot />
    </div>
  </div>
</div>
