---

---

<h2 id="work" class="text-xl font-semibold mb-12 mt-4">Work</h2>

<div class="mb-16 flex flex-col">
  <div class="flex flex-row items-center gap-4 mb-6 ml-2">
    <div class="w-8 flex-shrink-0">
      <img src="/logos/spellbook.svg" alt="Spellbook" class="w-8 h-8" />
    </div>
    <h3 class="text-lg font-semibold mt-0.5">
      <a
        href="https://spellbook.legal/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-70"
      >
        Spellbook
      </a>
    </h3>
  </div>

  <div class="ml-14 space-y-10">
    <div class="flex flex-col gap-4">
      <p class="text-sm font-medium">AI Operations Lead</p>
      <p class="text-sm text-gray-600">Now</p>
      <p class="text-sm text-gray-600">React, TypeScript, Node.JS, MongoDB</p>
    </div>

    <div class="flex flex-col gap-4">
      <p class="text-sm font-medium">Software Developer</p>
      <p class="text-sm text-gray-600">September 2025 - December 2025</p>
      <p class="text-sm text-gray-600">React, TypeScript, Node.JS, MongoDB</p>
    </div>

    <div class="flex flex-col gap-4">
      <p class="text-sm font-medium">
        Associate Software Developer - Internship
      </p>
      <p class="text-sm text-gray-600">May 2025 - August 2025</p>
      <p class="text-sm text-gray-600">React, TypeScript, Node.JS, MongoDB</p>
    </div>
  </div>
</div>

<div class="mb-16 flex flex-col">
  <div class="flex flex-row items-center gap-4 mb-6 ml-2">
    <div class="w-8 flex-shrink-0">
      <img src="/logos/c-core.jpg" alt="C-CORE" class="w-8 h-8" />
    </div>
    <h3 class="text-lg font-semibold mt-0.5">
      <a
        href="https://c-core.ca/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-70"
      >
        C-CORE
      </a>
    </h3>
  </div>

  <div class="ml-14 space-y-10">
    <div class="flex flex-col gap-4">
      <p class="text-sm font-medium">Junior Software Developer</p>
      <p class="text-sm text-gray-600">September 2024 - December 2024</p>
      <p class="text-sm text-gray-600">
        React, TypeScript, Python, FastAPI, PostgreSQL, PostGIS
      </p>
      <p class="text-sm text-gray-600">Continued work from prior position</p>
    </div>

    <div class="flex flex-col gap-4">
      <p class="text-sm font-medium">Student Software Developer</p>
      <p class="text-sm text-gray-600">May 2024 - August 2024</p>
      <p class="text-sm text-gray-600">
        React, TypeScript, Python, FastAPI, PostgreSQL, PostGIS
      </p>
      <p class="text-sm text-gray-600">
        Developed a React web application using geospatial libraries (Turf,
        GDAL, etc.) and proprietary data to support GIS analysts and their
        workflow.
      </p>
      <p class="text-sm text-gray-600">
        Worked with a Python backend to log performance metrics, ensuring
        satisfaction of project and contract requirements.
      </p>
    </div>
  </div>
</div>
