---
const { imgsrc, href, caption } = Astro.props;
---

<a class="flex flex-col gap-2 items-center" href={href}>
  <img class="drop-shadow-md" src={imgsrc} width="200" height="118" />
  <p>{caption}</p>
</a>
