---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logos/natalie.svg" />
    <link
      rel="preload"
      href="/fonts/Geist-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" as="image" href="/images/logos/natalie.svg" />
    <link rel="preload" as="image" href="/images/logos/x.svg" />
    <link rel="preload" as="image" href="/images/logos/mail.svg" />
    <link rel="preload" as="image" href="/images/logos/spellbook.svg" />
    <link rel="preload" as="image" href="/images/logos/c-core.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#fdfdfc" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div class="mx-auto flex max-w-xl px-8 pb-0 pt-12">
      <div class="flex min-h-screen min-w-0 max-w-xl flex-1 flex-col gap-16">
        <slot />
      </div>
    </div>
  </body>
</html>
